/* @import url('https://calisthetics-ui.netlify.app/src/cali-UI.css'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 
*{
    font-size : 100% ;
    margin : 0 ;
    box-sizing: border-box;
}

:root{
    --box-shadow: rgb(0 0 0 / 0.2);
    font-family: 'Montserrat', sans-serif;
    --ca-primary-color : #762D8B ;
    --ca-primary-color-lighter : #A846C3 ;
    --ca-secondary-color : #65B891 ;
    --ca-hover-color : #f0fff0d2 ;

}


main{
    display: grid ;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    min-height : 100vh ;
}

/* header  */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width : 100% ;
    box-shadow: 0 5px 3px -3px var(--box-shadow);
}
.header-left-side{
    margin-left: 1rem ;
    padding : 1rem ;
    display: flex;
    align-items : center ;
    gap : 0.5rem ;
}
.font-logo{
    font-size : 2.5rem ;
    font-weight: 600;
    color: var(--ca-primary-color); 
}
.btn{
    padding: 0.7rem 1rem;
    /* border: 4px solid transparent; */
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 200;
    color : var(--ca-primary-color);
}
.btn:hover{
    color : var(--ca-secondary-color) ;
    background-color: var(--ca-hover-color);
}
.btn-link{
    text-decoration: none;
    color : var(--ca-primary-color);
}

.header-search{
    background-color : var(--ca-hover-color);
    padding : 0.5rem 1rem ;
}
.search-bar{
    background-color: var(--ca-hover-color);
    border: none;
}




/* hero-section  */
.hero-section{

}