:root{
    --box-shadow: rgb(0 0 0 / 0.2);
    font-family: 'Montserrat', sans-serif;
    --ca-primary-color : #762D8B ;
    --ca-primary-color-lighter : #A846C3 ;
    --ca-secondary-color : #65B891 ;
    --ca-hover-color : #f0fff0 ;
    --ca-icon-content-bg-color: #eb2f2fe3;
    --ca-dark-bg-color: #393734;
    --ca-light-bg-color: #f2f2f2;
    --danger-text: #ff0000;


}
*{
    font-size : 100% ;
    margin : 0 ;
    box-sizing: border-box;
}

/* grid */
.grid{
    display : grid;
    width : 100%;
}
.grid-2{
    grid-template-columns: 1fr 1fr;
}
.grid-3{
    grid-template-columns : 1fr 1fr 1fr;
}
.grid-4{
    grid-template-columns : 1fr 1fr 1fr 1fr ;
}

/* flex */
.flex-center{
    display: flex;
    align-items: center;
    justify-content : center ;
}
.flex-column{
    display : flex ;
    flex-direction: column;
    align-items: center;
}
.flex-row{
    display : flex ;
    flex-direction : row ;
    align-items : center ;
}
.no-flex-wrap{
    flex-wrap: nowrap;
}
.flex-wrap{
    flex-wrap : wrap ;
}
.justify-content-center{
    justify-content : center ;
}
.space-bw{
    justify-content : space-between ;
}


.gap-sm{
    gap : 1rem ;
}
.gap-md{
    gap : 1.75rem ;
}
.gap-lg{
    gap: 2.5rem ;
}

/* typography */
.h1,h1{
    font-size : 3rem ;
}
.h2,h2{
    font-size : 2.5rem ;
}
.h3,h3{
    font-size : 2rem ;
}
.h4,h4{
    font-size : 1.75rem ;
}
.h5,h5{
    font-size : 1.5rem;
}
.h6,h6{
    font-size : 1.25rem ;
}

.h1,h1,
.h2,h2,
.h3,h3,
.h4,h4,
.h5,h5,
.h6,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight : 700 ;
    margin : 1.5rem 0 ;
    line-height : 3rem ;
}

.p,p{
    font-family: 'Montserrat', sans-serif;
    font-size : 1.1rem ;
    font-weight : 500;
}

.text-sm-size{
    font-size: 0.75rem ;
}
.text-md-size{
    font-size : 1.1rem ;
}
.text-lg-size{
    font-size: 1.8rem;
}
.text-bold{
    font-weight : 700;
}

.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
.text-align-left{
    text-align: left;
}
/* margin */
.margin-sm{
    margin : 1rem;
}
.margin-md{
    padding : 1.75rem ;
}
.margin-lg{
    padding : 2.5rem
}

.margin-tb-sm {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin-tb-md {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}
.margin-tb-lg {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.margin-lr-sm{
    margin-left: 1rem;
    margin-right: 1rem;
}
.margin-lr-md{
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}
.margin-lr-lg{
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

/* padding */
.padder-sm{
    padding : 1rem ;
}
.padder-md{
    padding : 1.75rem ;
}
.padder-ld{
    padding : 2.5rem ;
}

.padder-tb-sm{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padder-tb-md{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}
.padder-tb-lg{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.padder-lr-sm{
    padding-left: 1rem;
    padding-right: 1rem;
}
.padder-lr-md{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
.padder-lr-lg{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}


/* button */
.btn-primary{
    background-color: var(--ca-primary-color);
    color : white ;
}
.btn-primary:hover{
    background-color: var(--ca-primary-color-lighter);
    color : white ;
}
.btn-active{
    background-color : var(--ca-hover-color);
}

/* list */
.list-deco-none{
    list-style: none;
    padding-inline-start: 0;
}
.list-inline{
    display: inline;
}
.list{
    display : flex;
    flex-direction : column;
    justify-content: space-between ;
    flex-wrap : wrap;
    padding: 1.5rem ;
    border-radius: 5px;
}
.list-item{
    font-size : 0.95rem ;
}
.list-style-none{
    list-style: none;
}

/* card */
.card {
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgb(146 140 140 / 50%);
    margin : 1.5rem ;
}
.card-vertical {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
}
.img-responsive{
    height: 100%;
    width : 100%;
}

.card-description-primary .card-primary-text {
    color: var(--ca-primary-color);
    font-style: italic;
}
.card-description-primary .card-price {
    color: var(--ca-secondary-color);
}
.wishlist-icon{
    color : var(--danger-text);
}
.wishlist-icon:hover{
    font-weight: 700;
    cursor: pointer;
}
.card-cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top : 15px ;
    align-items: center;
    gap: 2rem;
}

