/* @import url('https://calisthetics-ui.netlify.app/src/cali-UI.css'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 
@import url('/src/pages/common.css');
@import url('/styles.css');


.homepage-main-container{
    display: grid ;
    grid-template-rows: auto auto 1fr 1fr auto;
    min-height : 100vh ;
    gap : 1rem ;
}

/* hero-section  */
.hero-img img{
    width : 65% ;
}
.hero-overlay{
    position: absolute;
    color : white ;
    top : 11rem ;
}
.hero-1{
    position: relative;
}



/* Category */
.category-item{
    gap : 1.5rem ;
    padding : 1rem ;
    margin : 1rem ;
    justify-content: center;
}
.category-item:hover{
    background-color:var(--ca-hover-color);
}
.category-item-img{
    width: 20rem;
    height: 20rem;
}


